h2 {
  font-style: italic;
  text-align: center;
  color: black;
}

body {
  background-image: url("../Images/IMG_0054.jpg");
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  background-size: cover;
}

h1{
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    color:white;
}
.intro {
  font-style: italic;
  color: black;
  text-size: 12px;
  text-align:center;
}
.author {
  color: red;
  font-size: 12px;
}
.author {
  color: red;
}
p.author {
  font-size: 12px;
}
.images {
  image-orientation: landscape;
  image-position: center;
}
.myinfo {
  text-decoration-style: solid;
  text-size: 16px;
  text-align: left;
  float:left;
  border-left: 2px solid white;
  border-right: 2px solid white;
  background-color: white;
  padding: 12px;
  font-style: italic;

}
.photo {
  border-radius: 110px;
  width: 50px;
}
.newinfo {
  color: red ;
}
.projects {
  color: black;
  margin: auto;
  background-color: black;
  width: 500px;
  text-align:justify;
  color: white;
  float; left;
  padding: 20px;
  font-style: italic;
  background-image: url("../Images/Progpic.png");
  opacity: 0.8;
}
li a {
  font-size:
  font-style:italic;
  font-family: cursive;
  font-weight:bold;
  background-color: Gold;
}
.port {
  color: white;
}
